:root {
  --default-font-family: 'Playfair Display', serif;
  --heading-color: #370018;
}

/* @font-face {
  font-family: 'Tenor Sans', sans-serif;
  src: url('/assets/images/fonts/TenorSans-Regular.ttf');
  font-weight: 100; 
} */

@font-face {
  font-family: 'Playfair Display', serif;
  src: url('/assets/images/fonts/PlayfairDisplaySC-Regular.ttf');
  font-weight: 400;
}

body {
  background: #f5f5ef;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-family: var(--default-font-family);
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

/* li {
  text-decoration: none;
  list-style: none;
  padding: 0;
} */

.main {
  margin-bottom: auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 50px;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
  transition: 0.3s;
  color: black;
}

.main-container {
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: space-between;
}

.section {
  border-bottom: 1px solid #672f2f;
}

.profile-section {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  width: 100%;
}

.profile-title {
  font-family: 'Playfair Display', serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-right: 90px;
}

.photo {
  max-width: 22%;
  margin-left: 100px;
}

.summary-section {
  width: 434px;
  text-align: justify;
}

.section-main-title {
  font-size: 50px;
  font-weight: 400;
  color: var(--heading-color);
  letter-spacing: 5px;
  margin: 20px 0;
}

.section-main-title::after {
  content: '';
  position: absolute;
  width: 194px;
  height: 1px;
  left: 62%;
  bottom: 557px;
  background-color: #797976;
}

.section-title {
  font-size: 30px;
  color: var(--heading-color);
  letter-spacing: 3px;
}

.section-skills {
  padding-left: 200px;
  /* padding-bottom: 21px; */
}

.code-example {
  width: 100%;
  background-color: rgb(247, 247, 241);
}

/* .section-code,
.section-skills {
  margin-top: 30px;
} */

.nav-link:hover {
  cursor: pointer;
  color: #7c2828;
}

.summary {
  font-size: 10px;
  font-weight: 100;
}

.profile-contacts {
  margin-left: 2px;
  padding: 10px 14px;
}

.contact-links {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin: 0;
  font-size: 20px;
  list-style: none;
  transition: all 100ms ease-in-out;
}

.contact-links a {
  color: black;
}

.section-courses,
.section-skills,
.section-projects {
  padding-left: 200px;
}

.section-courses {
  padding-bottom: 2px;
}

.section-projects {
  padding-bottom: 28px;
}

ul,
ol {
  padding: 0;
}

.section-item {
  font-size: 18px;
}

.section-item a {
  text-decoration: none;
  color: #370000;
  font-weight: bold;
  transition: all 100ms ease-in-out;
}

.section-item a:hover {
  cursor: pointer;
  color: black;
}
.courses-item,
.languages-item {
  font-weight: bold;
  color: #370000;
}

/* .section-item::before {
  content: '';
  position: absolute;
  background-size: 14px 14px;
  background-image: url(/assets/images/star-icon.jpg);
} */

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}
